.message{
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  &--isme{
    justify-content: right;
    .message__avatar{
      order: 2;
      margin-right: 0;
      margin-left: 13px;
    }
    .message__bubble{
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 0;
      background: rgba(98, 134, 134, 0.43);
    }
    .message__date{
      text-align: right;
    }
    .message__check{
      margin-bottom: 20px;
      margin-left: 0;
      margin-right: 5px;
      order: 0;
    }
  }
  &--typing{
    .message__bubble{
      background: #dee8ff;
    }
      .bubble--loading{
        width: 100%;
        .dot{
          height: 8px;
          width: 8px;
          border-radius: 50%;
          background: #a6bdf0;
          display: block;
          float: left;
          margin: 0 0 0 8px;
          animation-name: typingAnimation;
          animation-duration: 0.6s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
          &:first-child{
            margin: 0;
          }
          &:nth-child(1){
            animation-direction: normal;
          }
          &:nth-child(2){
            animation-delay: 0.15s;
            animation-direction: normal;
          }
          &:nth-child(3){
            animation-delay: 0.30s;
            animation-direction: normal;
          }
        }
      }

    @keyframes  typingAnimation{
      from{
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }
  }

  &--isaudio{
    .message--audio{
      audio{
        display: none;
      }
      &__progress{
        position: absolute;
        z-index: 1;
        background: #5d9eff;
        top: 0;
        bottom: 0;
        left: 0;
        transition: linear;
      }
      &__info{
        display: flex;
        align-items: center;
        color: white;
        position: relative;
        z-index: 2;
      }
      &__btn{
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: #2d3f72;
        border: none;
        cursor: pointer;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
          width: 20px;
          height: 20px;
          object-fit: contain;
        }
      }
      &__wave{
        margin-right: 50px;
      }
      &__duration{
        opacity: 0.5;
      }
    }
  }

  &--image{
    .files{
      .files--item{
        width: 150px;
        height: 150px;
      }
    }
  }

  &__avatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 13px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;

    .user--avatar{
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
    }
  }
  &__content{
    display: flex;
    align-items: flex-end;
    &--inf{
      display: flex;
      flex-direction: column;
      order: 1;
    }
    .files{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      &--item{
        width: 45px;
        height: 45px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        margin-bottom: 5px;
        margin-right: 5px;
        border-radius: 5px;
        &:last-child{
          margin-right: 0;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__bubble{
    background: #3674ff;
    padding: 15px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
    border-bottom-left-radius: 0;

  }
  &__date{
    font-size: 12px;
    color: #b6b6b6;
  }
  &__text{
    max-width: 350px;
    width: max-content;
    word-break: break-all;
    line-height: 18px;
    color: white;
  }
}